@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofadi+One&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sofadi+One&family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --bg-color: #ffff002f;
  --heading_color: #8b4513;
  --White: #f5f5f5;
}

html {
  font-family: "Poppins", sans-serif, Arial, Helvetica;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
}

p {
  font-size: 1.2rem;
}

.header {
  position: relative;
  background-image: url(./images/hamburger.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.header .nav_bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 2;
}

.header .nav_bar .nav_links {
  display: flex;
  gap: 2rem;
}

.header .nav_bar .nav_links a {
  text-decoration: none;
  color: var(--White);
}

.header .nav_bar .nav_links a:hover {
  text-decoration: underline;
}

.header .nav_bar .logo_box {
  width: 4rem;
  height: 4rem;
}

.header .nav_bar .hambuger_icon {
  display: none;
}

.header .nav_bar .hambuger_icon .bar {
  color: var(--White);
  font-size: 2rem;
}

.header h1 {
  position: absolute;
  transform: translateX(9%);
  bottom: 1rem;
  color: var(--White);
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(12, 11, 11, 0.959);
  font-weight: 700;
}

section {
  padding-left: 2rem;
  padding-right: 2rem;
}

main .description {
  margin: 4rem 0;
  padding: 0 2rem;
}

main .description h2 {
  font-size: 3rem;
  font-weight: 400;
  color: var(--heading_color);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

main .description .desc-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

main .description .desc-box .image-div {
  width: 65%;
  overflow: hidden;
  border-radius: 0.8rem;
}

main .description .desc-box .image-div img {
  border-radius: 0.8rem;
  transition: 3s;
  object-fit: contain;
}

main .description .desc-box .image-div img:hover {
  transform: scale(1.2);
}

main .description .desc-box .side_desc {
  width: 35%;
}

main .description .desc-box .side_desc h3 {
  font-size: 2.5rem;
  color: var(--heading_color);
  font-weight: 300;
  line-height: 1;
  margin-bottom: 2rem;
}

main .description .desc-box .side_desc p {
  margin-bottom: 2rem;
}

button {
  border: 1px solid var(--heading_color);
  background: transparent;
  transition: 1s;
  padding: 1rem 2rem;
  border-radius: .5rem;
}

main .description .desc-box .side_desc button:hover {
  background: var(--heading_color);
  color: var(--White);
}

main .sample_meals {
  background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.856)),
    url(./images/pexels-pixabay-236887.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  margin-bottom: 4rem;
}

main .sample_meals h4,
main .sample_meals p {
  margin-bottom: 2rem;
  color: var(--White);
}

main .sample_meals h4 {
  font-size: 2rem;
  font-weight: 700;
}

main .sample_meals p {
  width: 50%;
}

main .sample_meals button {
  color: var(--White);
}

main .sample_meals button:hover {
  background: var(--heading_color);
}

main .book_a_table {
  display: flex;
  margin-bottom: 4rem;
  gap: 2rem;
}

main .book_a_table .table_desc h5 {
  font-size: 2rem;
  color: var(--heading_color);
  font-weight: 300;
  text-transform: uppercase;
}

main .book_a_table .table_desc h5,
main .book_a_table .table_desc p,
main .book_a_table .table_desc button {
  margin-bottom: 2rem;
}

main .book_a_table .table_desc button:hover {
  background-color: var(--heading_color);
  color: var(--White);
}

main .book_a_table .table_desc,
main .book_a_table .table_img {
  width: 50%;
}

main .book_a_table .table_img {
  display: flex;
  flex-wrap: wrap;
}

main .book_a_table .table_img div {
  width: 18.75rem;
  height: 15.625rem;
  overflow: hidden;
}

main .book_a_table .table_img div:nth-child(1) {
  border-radius: 0.8rem 0 0 0;
}
main .book_a_table .table_img div:nth-child(2) {
  border-radius: 0 0.8rem 0 0;
}
main .book_a_table .table_img div:nth-child(3) {
  border-radius: 0 0 0 0.8rem;
}
main .book_a_table .table_img div:nth-child(4) {
  border-radius: 0 0 0.8rem 0;
}

main .book_a_table .table_img div img {
  object-fit: contain;
  transition: 3s;
}

main .book_a_table .table_img div img:hover {
  transform: scale(1.2);
}

main .menu_highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .menu_highlights h6,
main .menu_highlights p,
main .menu_highlights .food,
main .menu_highlights button {
  margin-bottom: 2rem;
}

main .menu_highlights h6 {
  color: var(--heading_color);
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

main .menu_highlights p {
  width: 60%;
}

main .menu_highlights .food {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .menu_highlights .food div {
  width: 25rem;
  height: 15.625rem;
  overflow: hidden;
}

main .menu_highlights .food div:nth-child(1) {
  border-radius: 0.8rem 0 0 0;
}
main .menu_highlights .food div:nth-child(3) {
  border-radius: 0 0.8rem 0 0;
}
main .menu_highlights .food div:nth-child(4) {
  border-radius: 0 0 0 0.8rem;
}
main .menu_highlights .food div:nth-child(6) {
  border-radius: 0 0 0.8rem 0;
}

main .menu_highlights .food div img {
  object-fit: contain;
  transition: 3s;
}

main .menu_highlights .food div img:hover {
  transform: scale(1.2);
}

main .menu_highlights button {
  width: 30%;
}

main .menu_highlights button:hover {
  background: var(--heading_color);
  color: var(--White);
}

main .location {
  margin: 4rem 0;
}

main .location h6 {
  color: var(--heading_color);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

main .location .pics_iframe_box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main .location .pics_iframe_box .side_pics div {
  width: 25rem;
  height: 12.5rem;
  overflow: hidden;
  border: 2px solid var(--heading_color);
}

main .location .pics_iframe_box .side_pics div img {
  object-fit: contain;
  transition: 3s;
}

main .location .pics_iframe_box .side_pics div img:hover {
  transform: scale(1.2);
}

main .location .pics_iframe_box .side_pics div:nth-child(1) {
  border-radius: 0.8rem 0.8rem 0 0;
}
main .location .pics_iframe_box .side_pics div:nth-child(2) {
  border-radius: 0 0 0.8rem 0.8rem;
}

main .location .pics_iframe_box iframe {
  width: 25rem;
  height: 25rem;
  border-radius: 0.8rem;
}

main .contact_hours_of_operation {
  display: flex;
  padding-left: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.616)),
  url(./images/location_2.jpg);
  background-size: cover;
  align-items: center;
}

main .contact_hours_of_operation .contact_form {
  background: var(--bg-color);
  padding: 1rem;
  margin-right: -2rem;
}

main .contact_hours_of_operation .hours_of_operation h6,
main .contact_hours_of_operation .contact_form h6 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--White);
  margin-bottom: 1.2rem;
}

main .contact_hours_of_operation .hours_of_operation p {
  margin-bottom: 2rem;
  width: 60%;
  color: var(--White);
}

main .contact_hours_of_operation .hours_of_operation p span {
  color: var(--White);
  font-weight: 700;
}

input {
  display: block;
  margin-bottom: 1rem;
  height: 3rem;
  border-radius: .5rem;
  border: 1px solid var(--White);
  padding-left: .5rem;
  background: transparent;
  color: var(--White);
}

input::placeholder,
textarea::placeholder {
  color: var(--White);
  opacity: .5;
}

main .contact_hours_of_operation .contact_form .name_tel,
.email_subject {
  display: flex;
  gap: 1rem;
}

textarea {
  width: 100%;
  border-radius: .5rem;
  height: 12rem;
  background: transparent;
  border: 1px solid var(--White);
  color: var(--White);
}

main .contact_hours_of_operation .contact_form button {
  width: 100%;
  border: 1px solid var(--White);
  color: var(--White);
  font-size: 1.2rem;
  font-weight: 500;
}


footer {
  background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.616)),
  url(./images/footer.jpg);
  padding: 4rem 2rem;
  color: var(--White);
  background-size: contain;
}

footer .bg-colo h6 {
  font-size: 1.5rem;
}

footer .bg-colo p,
footer .bg-colo h6,
address,
.social_links {
margin-bottom: 1rem;
}

.social_links .bx{
  color: var(--White);
  font-size: 1.5rem;
  margin-left: .5rem;
}


@media (max-width: 48em) {
  .header .nav_bar {
    justify-content: space-between;
    padding: 1rem;
  }

  .header .nav_bar .nav_links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 0;
    width: 100vw;
    background: var(--bg-color);
  }

  .header .nav_bar .logo_box + .nav_links {
    position: absolute;
    top: 2rem;
    right: 0;
  }

  .header .nav_bar .hambuger_icon {
    display: block;
  }

  .header h1 {
    transform: translateX(1%);
    text-align: center;
    line-height: 1.2;
    font-size: 1.5rem;
  }

  main .description h2 {
    text-align: center;
    line-height: 1.2;
    font-size: 1.6rem;
  }

  main .description .desc-box {
    flex-direction: column;
  }

  main .description .desc-box .image-div,
  main .description .desc-box .side_desc,
  main .book_a_table .table_desc,
  main .book_a_table .table_img {
    width: 100%;
  }

  main .description .desc-box .side_desc h3 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
  }

  main .description .desc-box .side_desc p {
    text-align: center;
  }

  button {
    display: block;
    margin: auto;
    width: 90%;
  }

  main .sample_meals p,
  main .menu_highlights p,
  main .contact_hours_of_operation .hours_of_operation p {
    width: 90%;
  }

  main .book_a_table,
  main .book_a_table .table_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .book_a_table .table_img div:nth-child(1),
  main .menu_highlights .food div:nth-child(1) {
    border-radius: 0.8rem 0.8rem 0 0;
  }
  main .book_a_table .table_img div:nth-child(2),
  main .menu_highlights .food div:nth-child(3) {
    border-radius: 0rem;
  }
  main .book_a_table .table_img div:nth-child(3),
  main .menu_highlights .food div:nth-child(4) {
    border-radius: 0rem;
  }
  main .book_a_table .table_img div:nth-child(4),
  main .menu_highlights .food div:nth-child(6) {
    border-radius: 0 0 0.8rem 0.8rem;
  }

  main .menu_highlights .food div {
    width: 100%;
    height: 100%;
  }

  main .menu_highlights h6 {
    text-align: center;
    font-size: 1.5rem;
  }

  main .menu_highlights button {
    width: 90%;
  }

  main .location .pics_iframe_box {
    flex-direction: column;
    align-items: center;
  }

  main .location .pics_iframe_box .side_pics div,
  main .location .pics_iframe_box iframe {
    width: 100%;
  }

  main .location .pics_iframe_box iframe {
    margin-right: 2rem;
  }

  main .contact_hours_of_operation {
    flex-direction: column;
    align-items: center;
  }

  main .contact_hours_of_operation .contact_form .name_tel,
.email_subject {
  flex-direction: column;
  gap: 0;
}

main .contact_hours_of_operation .contact_form {
  margin-right: 0;
}

main .contact_hours_of_operation .hours_of_operation h6 {
  margin-top: 2rem;
}
}
